.button {
  width: 140px;
  height: 30px;
  cursor: pointer;

  &:focus {
    border: 2px solid #198754;
    outline: 0;
  }
}

.primary {
  background-color: #85be7c;
  border: none;
  font-weight: bold;
  border-radius: 6px;
}

.noStyles {
  background-color: transparent;
  border: none;
}
