.button {
  width: 140px;
  height: 30px;
  cursor: pointer;
}

.primary {
  background-color: #85be7c;
  border: none;
  font-weight: bold;
}

.noStyles {
  background-color: none;
  border: none;
}
