// theorically we could achive this, by setting component's
// display to false but it makes the generated svg unreadable
.formula > * > mjx-container{
    display: inline !important;
}

.formula {
    overflow-x: auto;

    & > div {
        margin-top: 20px;
    }

    @media screen and (max-width: 440px){
        svg {
            width: 350px;
        }
    }
}